<div class="row">

    <div class="col-md-4">
        <div class="thumbnail green-bg">
            <a href="#">
                <img class="img-rounded" src="{{ asset('images/design/lumber-camp2.png') }}" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-4">
            <a href="#">
                <img src="{{ asset('images/design/lumber.png') }}" alt="Lights" style="width:100%">
            </a>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img src="{{ asset('images/design/lumber-camp.jpg') }}" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <a href="#">
                <img src="{{ asset('images/design/lumber-camp.jpg') }}" alt="Lights" style="width:100%">
            </a>
        </div>
    </div>


</div>