{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>{{ building.name }}</h1>

    <img src="{{ asset('images/design/' ~ building.slug ~ '.jpg') }}">
    <hr />

    <p>{{ building.gameBuilding.description }}</p>

    <a href="{{ path('homepage') }}">Back to your settlement</a>
{% endblock %}