{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h1>{{ building.name }}</h1>

    <img src="{{ asset('images/design/' ~ building.slug ~ '.jpg') }}">
    <hr />

    <p>{{ building.gameBuilding.description }}</p>

    <a href="{{ path('homepage') }}">Back to your settlement</a>
{% endblock %}