<table class="table table-hover text-center">
    <thead>
    <tr class="table-dark">
        <th>Attack</th>
        <th>Remaining Time</th>
    </tr>
    </thead>
    <tbody>
    {% for attack in attacks %}
        {# @var attack \AppBundle\Entity\MilitaryCampaign #}
        {% set remainingTime = getTimeUntilDue(attack.dueDate) %}
        <tr class="table-secondary">
            <td class="align-middle">{{ attack.name }}</td>
            <td class="align-middle timer" data-seconds="{{ remainingTime }}"></td>
        </tr>
    {% else %}
        <tr class="table-secondary">
            <td colspan="2" class="align-middle">No attacks to display.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>