{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <h2>Enemy Attacks</h2>
    {% include 'battle/attacks-table.html.twig' with {'attacks': enemyAttacks} %}

    <h2>Own Attacks</h2>
    {% include 'battle/attacks-table.html.twig' with {'attacks': ownAttacks} %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/timer.js') }}"></script>
    <script>
        $(document).ready(function(){
            setTimers('.timer');
        });
    </script>
{% endblock %}