{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="card-body p-5">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#own">Own Attacks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#enemy">Enemy Attacks</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="own">
                {% include 'battle/attacks-table.html.twig' with {'attacks': ownAttacks} %}
            </div>

            <div class="tab-pane fade" id="enemy">
                {% include 'battle/attacks-table.html.twig' with {'attacks': enemyAttacks} %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/timer.js') }}"></script>
    <script>
        $(document).ready(function(){
            setTimers('.timer');
        });
    </script>
{% endblock %}