{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>Player Profile</h1>
    <div class="col-sm-5">
        <img src="{{ asset('images/design/' ~ player.avatar) }}">
        <hr />
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{ player.username }}</td>
            </tr>
            <tr>
                <th>Settlement</th>
                <td>{{ player.currentPlatform.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ player.email }}</td>
            </tr>
        </table>
    </div>
{% endblock %}