{% extends 'base.html.twig' %}

{% block guestBody %}
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <h1>User registration</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{  form_row(form._token) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Register</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="margin-bottom-20"></div>
    <p class="text-center">If you already have an account: <a href="/login">Login</a> from here!</p>
{% endblock %}

{% block game %}
{% endblock %}