div.jumbotron {
    background-image: url("../images/design/zombies2.jpg");
}

div.login-bg {
    background:rgba(0,0,0,0.7);
}

#login {
    color: #FFFFFF;
}

h1.guest {
    font-size: 2.2em;
}

.wrapper {
    padding: 10px 20px;
    padding-right: 0;
}

.main {
    border-right: 1px dotted gray;
    padding: 10px 30px;
}

.sidebar {
    padding: 20px 30px;
    margin-left: 30px;
    margin-top: 30px;
}

.sidebar h2 {
    font-size: 1.5em;
}

#buildings-map {
    background-color: #cecece;
    padding: 10px 30px;
}

table {
    background-color: #FFFFFF;
}

th {
    background-color: #CCCCCC;
}

/*
--------------------------- Map Styles ----------------------------
 */

#map {
    border: 1px solid black;
    background-color: green;
}

#map td {
    width: 10px;
    height: 10px;
}

#map td.local {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px dotted darkslategray;
}

.rocks {
    background-color: #6E6E6E;
}

.water {
    background-color: #218BC3;
}

.forest {
    background-color: #A46A1F;
}

.platform {
    background-color: blue;
}

/*
--------------------------- Common ----------------------------
 */

.margin-bottom-20 {
    margin-bottom: 20px;
}

.light-grey-bg {
    background-color: #e6e6e6;
}

.green-bg {
    background-color: #136322;
    border: none;
}