{% extends 'base.html.twig' %}

{% block body %}
    <h1>Home Page</h1>
    <p>Will have a big picture here with something about zombies and end of the world. Also will have a short story about the game world.</p>
    <p>Will have login link</p>
    <p>And register link</p>
{% endblock %}