{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>{{ platform.name }}</h1>
    <p>This is your first settlement. Try and keep it save from the dead walking outside your walls.</p>

    <h2>Buildings</h2>
    <p>Note: These will be pictures instead</p>

    <table>
        <thead>
        <tr>
            <th>Building name</th>
        </tr>
        </thead>
        {% for building in buildings %}
            <tr>
                <td>
                    <a href="{{ path('show_building', {'platformId': platform.id, 'buildingId': building.id}) }}">{{ building.name }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}