<table class="table table-hover text-center">
    <thead>
    <tr class="table-dark">
        <th scope="col">Unit</th>
        <th scope="col">Name</th>
        <th scope="col">Here</th>
        <th scope="col">Outside</th>
        <th scope="col">In Training</th>
        <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-secondary">
        <td class="table-img">
            <a href="unit-detail.html"><img src="images/design/guard.jpg" /></a>
        </td>
        <td class="align-middle">Guard</td>
        <td class="align-middle">5</td>
        <td class="align-middle">15</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
    </tr>
    <tr class="table-secondary">
        <td class="table-img">
            <a href="unit-detail.html"><img src="images/design/guard.jpg" /></a>
        </td>
        <td class="align-middle">Guard</td>
        <td class="align-middle">5</td>
        <td class="align-middle">15</td>
        <td class="align-middle">10</td>
        <td class="align-middle">10</td>
    </tr>
    </tbody>
</table>