{{ form_start(form) }}
<div class="input-group mb-3">
    {{ form_widget(form.count) }}
    <div class="input-group-append">
        <button type="submit" class="btn-info btn btn-sm">Recruit</button>
    </div>
</div>
{{ form_end(form) }}