{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/header.html.twig' with {'platform': platform} %}
{% endblock %}

{% block platformCommon %}
    {% include 'partials/platform-common.html.twig' with {
    'platform': platform,
    'appService': appService
    } %}
{% endblock %}

{% block body %}
    <h1>Recruit Unit</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Unit</th>
            <th>Total</th>
            <th>In Training</th>
            <th>Recruit</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ unit.unitType.name }}</td>
                <td>{{ unit.total }}</td>
                <td>{{ unit.inTraining }}</td>
                <th>
                    <form method="post">

                        <input type="number" name="unit[forTraining]" />
                        <input type="submit" value="recruit" />
                        {{ form_row(form._token) }}
                    </form>
                </th>
            </tr>
        </tbody>
    </table>
{% endblock %}